# It is a listing of all files that git will ignore when a "git add" is performed.
# For more information see: http://git-scm.com/docs/gitignore/

# ignores files that gcov generates
*.gcda
*.gcno
*.gcov
*.*~
